.wolf_header_log{
     font-family: 'Otomanopee One', sans-serif;
}
.wolf_header_btn{
    margin-bottom: 2rem;
}
.woolf_footer{
    font-family: 'Otomanopee One', sans-serif;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem
}