<div style = 'text-align: center'>
    <div style="margin: 2rem 0;">
        <div class="wolf_header_log">
            <h1>Woolf stroy</h1>
        </div>
    </div>
    <div class="wolf_header_btn">
        <span>wo1</span>
        <span>wo2</span>
        {%  if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign Up
            </a>
        </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                My page
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
                Logout
            </a>
        </span>
        {% endif %}
    </div>
</div>
